/* Navbarのスタイル */
.custom-navbar {
  width: 700px;
  margin: 0 auto;
}

/* Navbar内のContainerのスタイル */
.navbar-container {
  height: 70px;
  background-color: #66ccff;
}

/* 入力およびボタンを含むセクションのスタイル */
.add-section {
  padding-top: 10px;
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 入力フィールドを含むdivのスタイル */
.input-container {
  width: 50%;
}

/* 入力フィールドのスタイル */
.add-input {
  width: 100%;
  margin-right: 10px;
}

/* Todosリスト全体のスタイル */
.todos-container {
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 700px;
  overflow: hidden;
}

/* Todosヘッダーのスタイル */
.todos-header {
  padding: 10px;
  background-color: #f5f5f5;
}

/* 各Todoアイテムのスタイル */
.todo-item {
  position: relative;
  margin: 0 auto;
  display: flex;
  border-top: 1px solid #000;
  align-items: center;
}

/* Todoテキストを含むdivのスタイル */
.todo-text {
  padding: 10px;
  flex-grow: 1;
}

/* Todoテキスト (`p`タグ) のスタイル */
.todo-paragraph {
  margin: 0;
}

/* 編集・削除ボタンを含むdivのスタイル */
.todo-buttons {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* エラーメッセージのスタイル */
.error-message {
  color: red;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 700px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
